.container{
  width: 100%;
}
.App {
  background-color: #2a1b3D;
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 20px;
  color: #c1c8e4;
}


.boxed {
  border-style: solid;
  border-width: thick;
  border-radius: 8px;
  padding: 8px;
  margin: 8px;
    
}

.project-title{
font-size:20px ;
}

